<m-container class="container-fluid">
    <nav class="nav">
      <h2 class="nav1">Take My Stuff!</h2>
      <ul>
        <li><div><button class="tms" (click)="navigateToDonate()">Donate now!</button></div></li>
        <li><div><button class="tms" (click)="navigateToServices()">Services</button></div></li>
        <li><div><button class="tms"(click)="navigateToPolicy()">Privacy Policy</button></div></li>
      </ul>
    </nav>

    <div class="feed-container">

        <h1>Recommended</h1>

        <div *ngIf="listofItems.length == 0">
          <p>No entries found! Add some items to your feed.</p>
        </div>


        <ul>

          <li *ngFor="let item of listofItems;index as i">{{item.itemName}} , {{item.latitude}},{{item.longitude}}</li>

        </ul>
        

    <div class="content">

      <h3>LOGISTICS SERVICES</h3>
      <h1>Need to donate? We are the website you need!</h1>

      <div class="content-buttons">
        <button (click)="navigateToAbout()"class="read-more">Read More</button>
      </div>

    </div> 

    </div>

</m-container>
  
  
  
  