.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://img.sdcexec.com/files/base/acbm/scn/image/2022/06/AdobeStock_382940021.62b9ce4762e71.png?auto=format%2Ccompress&q=70') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }

  .nav1 {
    color: rgb(255, 255, 255);
  }
  
  .nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .tms {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .content {
    margin-top: 100;
    color: white;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content-buttons {
    display: flex;
    gap: 20px;
  }
  
  button.read-more, button.policy {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .read-more {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
  }
  
  .policy {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .feed-list {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .listing-time {
    display: block;
    font-size: 10px;
    color: #777;
    margin-top: 5px;
  }