<m-container class="container-fluid">
    <nav class="nav">
      <h2 class="nav1">Take My Stuff!</h2>
      <ul>
        <li><div><button class="tms" (click)="navigateToServices()">Services</button></div></li>
        <li><div><button class="tms"(click)="navigateToPolicy()">Privacy Policy</button></div></li>
      </ul>
    </nav>

    <div class="content">
        <h1>Recommended</h1>
        <m-card *ngFor="let listing of listings" [header]="listing.title">
          <p>{{ listing.description }}</p>
          <span class="listing-time">Posted: {{ listing.time }}</span>
        </m-card>
    </div>
    <div class="content">
      <h3>LOGISTICS SERVICES</h3>
      <h1>Need to donate? We are the website you need!</h1>
      <div class="content-buttons">
        <button (click)="navigateToAbout()"class="read-more">Read More</button>
      </div>
    </div> 
  </m-container>
  
  
  
  