<m-container class="services">
    <h2>Our Services</h2>
    <p>The Take My Stuff website is designed to facilitate the exchange of unwanted items between users efficiently and securely. Our website has many features that will prove to be most helpful when listing an item, as well as searching for a particular item. </p>  
    <div class="list">
      <m-card class="card" [header]="'Post Listings'">
        <p>Users can list items they wish to give away, including descriptions, availability times, and location (via Geolocation).</p>
      </m-card>
  
      <m-card class="card" [header]="'Request Items'">
        <p>Users seeking specific items can post their requirements to find available items in their area.</p>
      </m-card>
  
      <m-card class="card" [header]="'Daily Feed'">
        <p>Stay updated with a daily feed alerting you to new listings matching your needs.</p>
      </m-card>
  
      <m-card class="card" [header]="'Scheduled Pickups'">
        <p>Users specify availability times for pick-ups, making the exchange process smooth and hassle-free.</p>
      </m-card>
  
      <m-card class="card" [header]="'Integrated Google Maps'">
        <p>Find the fastest route to pick-up locations with our integrated Google Maps feature.</p>
      </m-card>
    </div>
  </m-container>