<m-container>
    <h2>Privacy Policy</h2>
    <p>Your privacy is our priority. We ensure that no personal contact details are shared between users. Instead, we provide a secure in-app messaging system for seamless communication.</p>
  
    <div class="privacy">
        <m-card class="card" [header]="'User Anonymity'">
            <p>To maintain users' privacy, our website will not share personal contact details between other users, instead we designed a secure messaging chat system where other users can speak to one another to inquire about the availability of goods.</p>
        </m-card>
  
        <m-card class="card" [header]="'Secure Messaging'">
            <p>With our secure messaging system, you will be able to directly communicate with other users on our website securely through our encrypted messaging feature, this chat system will be used as a primary source of contact between donaters and individuals interested in that specified good.</p>      
        </m-card>
    </div>
    
    <div class="home">
        <button (click)="navigateToHome()" class="home">Home Page</button>
    </div>
</m-container>